{% extends 'master.html' %}

{% block title %}
    	Details about {{ my_members.first_name }} {{ my_members.last_name }}
{% endblock %}


{% block content %}
    <div class="card mt-2">

        <div class="card-header">
           Details about {{ my_members.first_name }} {{ my_members.last_name }}
        </div>

        <div class="card-body">
            <h1>{{ my_members.first_name}} {{ my_members.last_name }}</h1>
            <p>Phone: {{ my_members.phone }}</p>
            <p>Member since: {{ my_members.joined_date }}</p>

            <p><a href="/members">Voltar</a></p>

        </div>
     </div>

{% endblock %}
